RESEND_API_KEY=""

db_project=
db_password=
aws_region=

DATABASE_URL=postgresql://postgres.${db_project}:${db_password}@aws-0-${aws_region}.pooler.supabase.com:5432/postgres
# TODO: WEIRD ERROR per this: https://github.com/drizzle-team/drizzle-orm/issues/2590;
# Thus I changed the port to 5432 (supavisor session) instead of 6543 in the connection string
